# ====================================================================
# 1. 开发工具与 IDE (IDE & Editors)
# ====================================================================
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.springBeans
.sts4-cache
.apt_generated
.nb-gradle/
nbproject/
/nbbuild/
/dist/
/nbdist/

# ====================================================================
# 2. 编译产物与缓存 (Build & Cache)
# ====================================================================
target/
out/
build/
bin/
dist/
node_modules/
unpackage/
.temp/
.tmp/
.gradle/
local.properties
Captures/

# ====================================================================
# 3. 日志与临时文件 (Logs & Temps)
# ====================================================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.class
*.swp
.DS_Store
hs_err_pid*
replay_pid*

# ====================================================================
# 4. 环境与敏感信息 (Env & Security)
# ====================================================================
.local
.env.local
.env.*.local
HELP.md
.mvn/wrapper/maven-wrapper.jar

# ====================================================================
# 5. 特殊规则与排除 (Special Rules)
# ====================================================================
# 即使上面忽略了 target 或 build，也要确保源码不被误删
!**/src/main/**
!**/src/test/**