# --- 系统与编辑器增强 ---
.vscode/                 # 如果你用 VS Code 开发前端，这个文件夹通常不需要上传
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp                    # Vi/Vim 临时文件

# --- 后端增强 ---
.classpath               # Eclipse 相关文件（防止同事用不同 IDE 造成冲突）
.project
.settings/
HELP.md
out/                     # IDEA 编译输出目录

# --- 前端增强 ---
.local
.env.local               # 包含敏感信息（如 API Key）的本地环境变量
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Android 开发增强 (如果你以后涉及原生插件) ---
.gradle/
build/
local.properties
Captures/