<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-xml.dtd">
<mapper namespace="com.sby.project.system.role.mapper.SysRoleMapper">

    <resultMap id="SysRoleResult" type="com.sby.project.system.role.entity.SysRole">
        <id     property="id"       column="id"        />
        <result property="roleName"   column="role_name" />
        <result property="roleKey"    column="role_key"  />
        <result property="sort"       column="sort"      />
        <result property="status"     column="status"    />
        <result property="remark"     column="remark"    />
    </resultMap>

    <select id="selectRoleKeysByUserId" resultType="java.lang.String">
        SELECT DISTINCT r.role_key
        FROM sys_role r
        LEFT JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId}
        AND r.status = 0
        AND r.deleted = 0
    </select>

    <select id="selectRoleList" resultMap="SysRoleResult">
        SELECT r.*
        FROM sys_role r
        WHERE r.deleted = 0
        <if test="roleName != null and roleName != ''">
            AND r.role_name LIKE CONCAT('%', #{roleName}, '%')
        </if>
        ORDER BY r.sort
    </select>

</mapper>